<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Trunk Groups', voice_in_trunk_groups_path %> >
    Create Trunk Group
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
