<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <%= render 'layouts/dashboard/navbar-header' %>

    <%= render 'layouts/dashboard/navbar-top-links' %>

    <%= render 'layouts/dashboard/navbar-side' %>
</nav>
