<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'CDR Exports', cdr_exports_path %> >
    Create CDR Export
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
