<%= form_for :q, method: :get do |f| %>
  <%= keep_sorting_params %>

  <%= yield %>

  <div class="row">
    <div class="col-lg-12">
      <%= f.submit class: "btn btn-primary", value: "Search", data: { disable_with: "Search" } %>
    </div>
  </div>
<% end %><!-- /form -->
