<table class="table table-bordered table-condensed">
  <thead>
  <th>Proof Type</th>
  <!--    <th>Expired After</th>-->
  <th>Expired</th>
  <th></th>
  </thead>
  <tbody>
    <%= render partial: 'proofs/proof', collection: resource.proofs %>
  </tbody>
</table>
