<tr>
<!--  <td><%#= address.country.name %></td>-->
  <td><%= address.city_name %></td>
  <td><%= address.postal_code %></td>
  <td><%= address.address %></td>
<!--  <td><%#= address.proofs.count %></td>-->
  <td><%= address.description %></td>
</tr>
