<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Identities', identities_path %> >
    <%= link_to resource.display_name, identity_path(resource) %> >
    <strong>Edit</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
