<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Identities', identities_path %> >
    <strong>New Identity</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
