form ul.errors {
  background: #fae6e4;
  border-radius: 4px;
  color: #932419;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  list-style: none;
}

.inline-errors {
  color: #932419;
}
