/* -----------------------------------------
   Este <a> style no es necesario porque ya lo tenemos
----------------------------------------- */
a {
  color: #0bacd3;
  text-decoration: none;
}
/* -----------------------------------------
Agregar a nuestros estilos personalizados
----------------------------------------- */
/* the norm */
#gritter-notice-wrapper {
  position:fixed;
  top:20px;
  right:20px;
  width:301px;
  z-index:9999;
}
#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}
#gritter-notice-wrapper.bottom-right {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
}
#gritter-notice-wrapper.bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}
.gritter-item-wrapper {
  position:relative;
  margin:0 0 10px 0;
  //background:url('../images/ie-spacer.gif'); /* ie7/8 fix */
}

.gritter-item {
  display:block;
  //background:url(../images/gritter.png) no-repeat left -40px;
  color:#eee;
  padding:2px 11px 8px 11px;
  font-size: 11px;
  font-family:verdana;
}
.hover .gritter-item {
  background-position:right -40px;
}
.gritter-item p {
  padding:0;
  margin:0;
  word-wrap:break-word;
}
.gritter-close {
  display:none;
  position:absolute;
  top:5px;
  left:3px;
  //background:url(../images/gritter.png) no-repeat left top;
  cursor:pointer;
  width:30px;
  height:30px;
  text-indent:-9999em;
}
.gritter-title {
  font-size:14px;
  font-weight:bold;
  padding:0 0 7px 0;
  display:block;
}
.gritter-image {
  width:48px;
  height:48px;
  float:left;
}
.gritter-with-image,
.gritter-without-image {
  padding:0;
}
.gritter-with-image {
  width:220px;
  float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  //background-image: url(../images/gritter-light.png);
  color: #222;
}
.gritter-light .gritter-title {
  text-shadow: none;
}
#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999;
}
#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}
#gritter-notice-wrapper.bottom-right {
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
}
#gritter-notice-wrapper.bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}
#gritter-notice-wrapper .gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item {
  display: block;
  background: #657791;
  border: 1px solid #455264;
  color: #ffffff;
  padding: 10px 11px;
  font-size: 12px;
  border-radius: 3px;
  transition: all;
  transition: all all ease-out;
  transition-duration: 0.4s;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item:hover {
  background: #72849e;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-close {
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-close i {
  font-size: 16px;
  color: #ffffff;
  transition: background;
  transition: all background ease-out;
  transition-duration: 0.4s;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-close:hover i {
  color: #f7f7f7;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-image {
  width: 48px;
  height: 48px;
  float: left;
  border-radius: 3px;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-icon {
  margin-top: 0;
  margin-right: 15px;
  float: left;
  font-size: 32px;
  padding-bottom: 10px;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-with-image {
  width: 220px;
  float: right;
  padding: 0;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-without-image {
  //width: 266px;
  //float: right;
  padding: 0;
}
#gritter-notice-wrapper .gritter-item-wrapper .gritter-item .gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  display: block;
}
#gritter-notice-wrapper .gritter-item-wrapper.success-notice .gritter-item {
  color: #0a776c;
  background: #b2ede8;
  border: 1px solid #63c8be;
}
#gritter-notice-wrapper .gritter-item-wrapper.success-notice .gritter-item:hover {
  background: #c7f2ee;
}
#gritter-notice-wrapper .gritter-item-wrapper.success-notice .gritter-item .gritter-close i {
  color: #0a776c;
}
#gritter-notice-wrapper .gritter-item-wrapper.success-notice .gritter-item .gritter-close:hover i {
  color: #09695f;
}
#gritter-notice-wrapper .gritter-item-wrapper.info-notice .gritter-item {
  color: #2a6891;
  background: #cfebff;
  border: 1px solid #94bedb;
}
#gritter-notice-wrapper .gritter-item-wrapper.info-notice .gritter-item:hover {
  background: #e9f6ff;
}
#gritter-notice-wrapper .gritter-item-wrapper.info-notice .gritter-item .gritter-close i {
  color: #2a6891;
}
#gritter-notice-wrapper .gritter-item-wrapper.info-notice .gritter-item .gritter-close:hover i {
  color: #275f85;
}
#gritter-notice-wrapper .gritter-item-wrapper.error-notice .gritter-item {
  color: #933230;
  background: #fddede;
  border: 1px solid #cb7c7a;
}
#gritter-notice-wrapper .gritter-item-wrapper.error-notice .gritter-item:hover {
  background: #fef6f6;
}
#gritter-notice-wrapper .gritter-item-wrapper.error-notice .gritter-item .gritter-close i {
  color: #933230;
}
#gritter-notice-wrapper .gritter-item-wrapper.error-notice .gritter-item .gritter-close:hover i {
  color: #872e2c;
}

.gritter-close {
  width: 10px;
  height: 10px;
  opacity: 0.3;
  outline: none !important;
}
.gritter-close:hover {
  opacity: 1;
}
.gritter-close:before, .gritter-close:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}
.gritter-close:before {
  transform: rotate(45deg);
}
.gritter-close:after {
  transform: rotate(-45deg);
}
