<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Addresses', addresses_path %> >
    <%= link_to resource.display_name, address_path(resource.id) %> >
    <strong>Edit</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
