<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Addresses</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render partial: 'filter' %>
    <hr>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Identity</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Postal code</th>
        <th>Verified</th>
        <th>Identity External Reference ID</th>
        <th></th>
      </thead>
      <tbody>
      <%= render partial: 'address', collection: resources %>
      </tbody>
    </table>
    <%= render 'shared/pagination' %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
