<div class="panel panel-default">
  <div class="panel-heading">
    Addresses
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%#= render partial: 'filter' %>
    <hr />
    <div class="row text-right">
      <div class="col-lg-12">
        <%= new_button new_address_path %>
      </div>
    </div>
    <br>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Identity</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Postal code</th>
        <th>Proofs</th>
        <th></th>
      </thead>
      <tbody>
      <%= render partial: 'address', collection: resources %>
      </tbody>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
