<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Addresses', addresses_path %> >
    Create Identity
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
