<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Identities', identities_path %> >
    <%= link_to @identity.display_name, identity_path(@identity.id) %> >
    <strong>New Address</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
