<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Shared Capacity Groups', shared_capacity_groups_path %> >
    <%= link_to resource.attribute_was(:name), shared_capacity_group_path(resource) %> >
    Edit
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
