<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Capacity Groups', shared_capacity_groups_path %> >
    Create Capacity Group
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
