.cart-checkbox + div {
  .cart-remove { display: none; }
}

.cart-checkbox:checked + div {
  .cart-remove { display: inline-block; }
  .cart-add    { display: none; }
}

.cart-qty { max-width: 65px; }
