<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My Voice In Trunks', voice_in_trunks_path %> >
    Create <%= resource.configuration_type_human %> Voice In Trunk
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
