<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My "Voice Out" Trunks', voice_out_trunks_path %> >
    <%= link_to resource.attribute_was(:name), voice_out_trunk_path(resource) %> >
    Edit
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
