<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'My "Voice Out" Trunks', voice_out_trunks_path %> >
    Create "Voice Out" Trunk
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
