<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'Exports', exports_path %> >
    Create CDR <%= t("export.#{resource.export_type}_human") %> Export
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
